.header {

    align-items: center;

    height: var(--header-height);
    padding: 0 2rem;
    position: fixed;
    width: 100%;
    top: 1rem;
    z-index: 900;
    background: transparent;

    * {
        font-family: 'Unica77', sans-serif;
        color: black;

        svg * {
            fill: black;
        }
    }

    &.inverted {
        * {
            color: white;
        }

        svg * {
            fill: white;
        }
    }


    display: none;

    @media screen and (min-width: 960px) {
        display: flex;
    }


}


.mobileHeader {
    align-items: center;

    display: flex;

    @media screen and (min-width: 960px) {
        display: none;
    }

    svg * {
        fill: black;
    }
}

.navWrapper {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10vh .7rem .4rem .7rem;

    height: 100vh;
    width: 100%;
    // height: 100vh;
    z-index: 5;
    background: white;
    opacity: 0;

    transition: opacity .4s ease-in-out .1s;

    z-index: -100;

    &.isOpen {
        // opacity: 1;
        // transform: translateX(0);
        z-index: 400;
        opacity: 1;

        transition: opacity .4s ease-in-out .1s;
    }

    >div {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;

    }




    a,
    button {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        >span {
            font-family: 'Unica77', sans-serif;
            text-transform: lowercase;
            margin: 0;
            padding: 0;
            line-height: 1;
            font-size: 1rem;

            z-index: 1;

        }

    }

    // &.isOpen {
    //     display: block;
    // }
}

.navController {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 500;
    padding: .5rem .7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;

    transition: transform .2s ease-in-out;
    transform: translateY(0);
    &.withMarquee {
        transform: translateY(2rem);
    }

    .mobileLogo {
        display: flex;
        align-items: center;

        svg {
            height: 20px;
        }
    }

    .headerMenuItem>span {
        font-family: 'Unica77', sans-serif;
        text-transform: lowercase;
        margin: 0;
        padding: 0;
        font-size: 1rem;
        line-height: 1;
        background: transparent;
        border: none;
    }
}

.header-menu-mobile-toggle {
    @media (min-width: 48em) {
        display: none;
    }
}

.headerMenuMobile {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
}

.headerMenu {
    // display: none;
    grid-gap: 1rem;

    position: relative;


    a,
    button {
        font-family: 'Unica77', sans-serif;

        margin: 0;
        padding: 0;
        font-size: .875rem;

        display: flex;
        align-items: center;

        mix-blend-mode: difference;


    }

    @media (min-width: 960px) {
        display: flex;
        justify-content: center;
        grid-gap: 3rem;
        align-items: center;
    }
}

.menuRight {
    margin-left: auto;
    margin-right: 0;
}

.menuLeft {
    margin-left: 0;
    margin-right: auto;
}

.desktopLogo {
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
    top: 1.3rem;
}

.headerMenuItem {
    cursor: pointer;
    position: relative;


    .subMenu {
        position: absolute;
        display: none;

        left: 0;
        margin: 0;
        padding: 0;
        top: 1rem;
        padding-top: 1rem;

        * {
            text-transform: none;
            white-space: nowrap;
        }


    }


    &:hover {
        >.subMenu {
            display: block;
        }
    }


    svg {
        height: 24px;
    }


    &:hover svg {
        opacity: .7;
    }

}

.headerCtas {
    align-items: center;
    display: flex;
    grid-gap: 1rem;
    margin-left: auto;
}