.products {
    width: 100%;
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));

}

.productItem {
    // width: 50%;
    aspect-ratio: 1;

    position: relative;

    &:hover {
        .productInfo {
            opacity: 1;
        }
    }

    img {
        height: auto;
        width: 100%;
    }
}

.productInfo {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    transition: .3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(54, 69, 83, 0.4);


    span {
        font-family: 'Courier Prime', monospace;
        font-size: 1.25rem;
        text-transform: uppercase;
        color: var(--color-light);
    }
}