.aboutSection {
    width: 100%;
    background: var(--color-light);
    display: flex;
    justify-content: flex-start;
    margin-bottom: 4rem;
    margin-top: 2rem;

    position: relative;
    * {

        font-family: 'Nunito Sans', sans-serif;
    }

    .text {

        opacity: 0;
        transform: translateY(-10px);
        transition: .5s ease-in-out;
        transition-delay: .2s;

        &.isVisible {
            opacity: 1;
            transform: translateY(0);
        }

        display: flex;
        flex-direction: column;

        a {
            color: #1EB2CD;
            text-transform: uppercase;
        }

        p {
            color: var(--color-grey);
        }

        p {
            margin-bottom: 1rem;
        }

        padding: 1rem;

        .extraText {
            margin-top: 6rem;
        }
    }


    .image {
        position: absolute;
        @media screen and (min-width: 768px) {
            position: relative;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }

    >div {

        padding: 2rem;
        width: 100%;

        @media screen and (min-width: 768px) {
            width: 50%;
        }
    }
}