footer {
    background: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 2rem;
    flex-wrap: wrap;
    flex-direction: column;
    // border-top: 1px solid var(--color-grey);
    z-index: 10;
    position: relative;
    display: none;

    @media screen and (min-width: 960px) {
        display: flex;
        flex-direction: row;
    }

    .newsletterWrapper {
        width: 100%;
        display: flex;
        justify-content: center;


        .newsletterButton {
            width: 450px;
            text-align: center;

            span {
                color: black;
                font-family: 'Unica77', sans-serif;
            }
        }

        button {
            font-size: .875rem !important;
            font-family: 'Unica77', sans-serif !important;
            padding: 0px 26px !important
        }

    }
}



.logo {
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
}

.footerMobile {
    display: flex;
    padding: 6rem 1rem 12rem 1rem;

    @media screen and (min-width: 960px) {
        display: none;
    }




    .newsletterButton {
        margin: 0;
    }
}


.copyright {

    @media screen and (min-width: 960px) {

        margin-left: 0;
        margin-right: auto;
    }




    span {
        display: block;
        margin-top: 1rem;
        text-transform: capitalize;

        color: black;
        font-size: .625rem;
    }

    svg * {
        fill: black;
    }
}

.newsletterButton {


    margin: 3rem 0;

    @media screen and (min-width: 960px) {
        margin: 0;
    }


    a {
        color: var(--color-light);
        background: var(--color-grey);
        display: block;
        padding: .3rem .5rem;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.menu {



    display: flex;
    gap: 2rem;

    @media screen and (min-width: 960px) {

        margin-right: 0;
        margin-left: auto;
    }

    >a {
        font-size: .875rem;

        color: black;
    }
}