.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    padding: 2px 0;
    width: 100%;
    z-index: 500;

    >div {
        height: 24px;
        align-items: center;
    }


    .marqueeWrapper {
        background: linear-gradient(0deg, rgba(243, 244, 246, .6), rgba(243, 244, 246, .6)), linear-gradient(180deg, hsla(0, 0%, 100%, .25), hsla(0, 0%, 95%, 0));
        backdrop-filter: blur(30px);
        padding: .1rem 0;
    }

    button {
        position: fixed;
        right: 0;

        top: 2px;
        
        border: none;

        color: black;
        z-index: 101;
        cursor: pointer;
        background: none;
        width: 34px;
        height: 24px;
        transform: translateY(-2px);

    }

    .textContainer {
        color: black;
        padding: 0 8rem;
        font-size: .5rem;
        display: block;

        @media screen and (min-width: 960px) {
            font-size: .75rem;
        }
    }
}