.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    padding: 2px 0;
    width: 100%;
    z-index: 1000;

    >div {
        height: 24px;
  align-items: center;
    }
 

    button {
        position: fixed;
        right: 0;
        
        top: 2px;
        background-color: none;
        border: none;
        
        color: black;
        z-index: 101;
        cursor: pointer;
        background: white;
        width: 34px;
        height: 24px;
        line-height: 20px;
    }

    .textContainer {
        color: black;
        padding: 0 8rem;

        @media screen and (min-width: 360px){
            font-size: 10px;
        }
    }
}