.wrapper {
    width: 100%;
    background: var(--color-light);
    padding: 0;
    text-align: center;

    a {

        font-family: 'Courier Prime', monospace;
        color: var(--color-grey);
        display: block;
        padding: 2rem;
    }
}