.carousel {
    width: 100%;
    position: relative;
    height: auto;
    max-height: 100%;
    aspect-ratio: 16/9;
   

    >img,
    >video,
    .noImage {
        aspect-ratio: 16/9 !important;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .noImage {
        background-color: var(--color-grey);
        color: white;
        font-size: 1rem;
        width: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'IBM Plex Mono';
    }
    
}

.controls {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    display: flex;

    button {
        cursor: pointer;
        border-radius: 0;
        height: 100px;
        width: 100px;
        padding: 0;
        margin: 0;
        border: none;
        margin-right: 1rem;
        opacity: .75;
        transform: opacity .3s ease-in-out;

        &:hover {
            opacity: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}