.productsWrapper {


    width: calc(100% - 2rem);
    display: grid;
    grid-gap: 1em;

    grid-auto-columns: 1fr;
    margin: 20vh 1rem 0 1rem;
    position: relative;
    z-index: 1;
    background-color: var(--color-light);

    grid-template-columns: 1fr;

    @media screen and (min-width: 360px) {

        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 520px) {

        grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (min-width: 768px) {

        grid-template-columns: 1fr 1fr 1fr 1fr;
    }



    &.smallWrapper {

        @media screen and (min-width: 1140px) {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }


        margin-top: 3rem;

        .productInfo {
            padding-bottom: 0;
        }
    }

}

.product {
    // width: 25%
    height: auto;
    display: block;
    position: relative;


    .color {
        position: absolute;
        top: 0;
        right: 1em;
        color: var(--color-turqoise);

        font-family: 'Courier Prime', monospace;
        font-weight: 400;
    }


    img {
        height: auto;
        width: 100%;
    }
}

.productInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-family: 'Courier Prime', monospace;
    padding-bottom: 5rem;
    align-items: center;

    * {
        color: var(--color-grey);
        font-size: 1rem;
    }

    h4 {
        font-weight: normal;
        text-transform: uppercase;
    }
}