.wrapper {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 70vh;

    @media screen and (min-width: 960px) {
        min-height: 800px;
        height: auto;
    }
}

.title {
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-size: 1.125rem
}

.storesWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 0 2rem;
}


.store {
    text-align: center;
    flex: 1 1 0;
    flex-basis: 0;



    h2 {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: .5rem;
    }

    span,
    a {
        font-size: .875rem;
        display: block;
        color: #626262;
    }

    a {
        margin-top: .2rem;
        &:hover {
            text-decoration: underline;
        }
    }
}