.wrapper {
    width: 100%;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;

}

.carouselWrapper {
    background-color: #EFF1F3;
    width: 100%;
    max-width: 1600px;
}

.description {
    width: 350px;
    flex-shrink: 0;
    flex-grow: 1;

    p {
        font-size: 1.25rem;
    }
}


.shoppingInfo {
    margin: 5rem 0;
    display: flex;
    align-items: stretch;
    height: 3rem;


    .productTitle {
        display: flex;
        align-items: center;
        width: 50%;
        display: flex;
        align-items: center;

        h1,
        .variantPrice {
            margin: 0;
            font-size: 1.5rem;
            color: var(--color-dark);
            display: block;
            width: 50%;
            font-weight: 400;
        }

        h1 {
            font-family: 'Gruppo', sans-serif;

        }

        .variantPrice {
            font-family: 'Nunito Sans Variable', sans-serif;
        }
    }


    .buttons {
        width: 50%;
        height: auto;

        .button {
            width: 50%;
            height: 100%;
        }

        form {
            width: 100%;
            display: block;
            height: 100%;
        }

        button {
            cursor: pointer;
            line-height: 1;
            font-size: 1.25rem;
            display: block;
            background: var(--color-dark);
            font-family: 'Nunito Sans Variable', sans-serif;
            font-weight: 300;
            color: white;
            border: none;
            appearance: none;
            width: 100%;
            height: 100%;
        }
    }
}

.lensDescription {
    margin-bottom: 4rem;

    * {
        font-family: 'Courier Prime', monospace;
        // font-weight: 300;
        // color: black;
        font-size: 1rem;
        font-weight: 400;
    }

    .category {
        font-size: .875em;
        margin-left: 1em;
    }

    h3 {
        display: inline;
        font-weight: 700;

        &:before {
            // color: black;
            content: "["
        }

        &:after {
            content: "]"
        }
    }

    strong {
        font-weight: 700;

        &:before {
            // color: black;
            content: "["
        }

        &:after {
            // color: black;
            content: "]"
        }
    }
}

.richText {
    margin-top: 1rem;

    p {
        margin-bottom: 1em;
    }

    li {
        line-height: 1;
        margin-top: 1em;
    }
}


.longDescription {
    margin-bottom: 2rem;

    span {

        font-family: 'Courier Prime', monospace;
        color: var(--color-grey) !important;
        font-size: 1rem !important;


    }

    h2 {

        span {
            font-family: 'Courier Prime', monospace !important;
            font-weight: 700 !important;
        }

        &:before {
            font-family: 'Courier Prime', monospace !important;
            font-weight: 700 !important;
            content: "["
        }

        &:after {
            font-family: 'Courier Prime', monospace !important;
            font-weight: 700 !important;
            content: "]"
        }
    }

    ul {
        padding-inline-start: 0 !important;
        margin: 0;

        li {
            list-style-type: none !important;
            white-space: inherit !important;

            p {
                margin: 0 !important;
                line-height: 1 !important;
            }
        }
    }
}