.wrapper {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 4rem;
    flex-wrap: wrap;

    @media screen and (min-width: 960px) {
        padding: 4rem 1rem;
        // width: 350px;
    }
}


.product {
    flex-grow: 1;





    * {
        color: black;
    }

    @media screen and (min-width: 960px) {
        padding: 4rem;
    }

    @media screen and (min-width: 1080px) {
        width: auto;
    }


    .innerWrapper {

        width: 100%;
        margin: 0 auto;

        >div {
            padding: 0 1rem;

            @media screen and (min-width: 960px) {
                padding: 0;

            }
        }

        @media screen and (min-width: 1080px) {
            max-width: 400px;
        }

    }
}

.productTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;

    display: none;

    h1,
    .variantPrice {
        margin: 0;
        font-size: 1.25rem;
        
        font-family: 'Unica77', sans-serif;
    }

    @media screen and (min-width: 960px) {
        display: flex;
    }

    @media screen and (min-width: 1440px) {
        width: auto;

       
    }


    h1 {
        // font-weight: bold;

    }

    .variantPrice {
        text-align: right;
        opacity: .7;
    }
}

.gridWrapper {

    display: none;

    @media screen and (min-width: 1080px) {
        display: grid;
    }

    width: calc(100% - 530px);
    max-width: 1400px;

    flex-shrink: 1;

    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    >div {

        display: flex;
        align-items: center;
    }

    img {
        display: flex;
        width: 100%;
        height: auto;

    }
}


.mobileBar {

    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    bottom: 0;
    left: 0;
    padding: 1rem;
    z-index: 100;

    .mobileProductInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
       

        h1, .variantPrice {
            margin: 0;
            font-size: 1rem;
        }
    }



    @media screen and (min-width: 960px) {
        display: none;
    }
}

.carouselWrapper {
    // background-color: #EFF1F3;
    width: 100%;
    display: block;

    @media screen and (min-width: 1080px) {
        display: none;
    }


}

.description {
    flex-shrink: 0;
    flex-grow: 1;
    width: 100%;


    h5 {
        font-family: "RocaLight", sans-serif;
        font-size: 1rem;
    }

    p {
        font-size: .875rem;
    }



    @media screen and (min-width: 1440px) {

        width: 350px;
    }

}

.textInfo {
    margin: 2rem 0;
    font-weight: bold;
    font-size: .875rem;
}

.buttonDesktop {
    margin: 2rem 0;
    display: none;

    @media screen and (min-width: 960px) {
        display: block;
    }
}

.buttonMobile {

    button {
        font-size: .875rem !important;
    }

}

.button {
    height: 45px;
    width: 100%;



    @media screen and (min-width: 1440px) {



        button {
            width: 100%;
            font-size: 1.25rem;
        }
    }


    form {
        width: 100%;
        display: block;
        height: 100%;
    }

    button {
        cursor: pointer;
        line-height: 1;
        font-size: 1rem;
        display: block;
        background: var(--color-dark);
        font-family: 'Unica77', sans-serifspace;
        font-weight: 300;
        color: white;
        border: none;
        appearance: none;
        width: 100%;
        height: 100%;
    }
}

.lensDescription {
    margin-bottom: 4rem;

    padding: 0 1rem;

    @media screen and (min-width: 960px) {

        padding: 0;
    }

    * {
        font-family: 'Unica77', sans-serifspace;
        // font-weight: 300;
        // color: black;
        font-size: .875rem;
        font-weight: 400;
    }

    .category {
        font-size: .875em;
        margin-left: 1em;
    }

    h3 {
        display: inline;
        font-weight: bold;
    }

    strong {
        font-weight: bold;

    }
}

.richText {
    margin-top: 1rem;

    p {
        margin-bottom: 1em;
    }

    li {
        line-height: 1;
        margin-top: 1em;
    }
}


.shipping {

    p {
        font-size: .875rem;
    }

    ul {
        padding-inline-start: 0;
    }

    li {
        white-space: initial !important;
        // display: block;
    }
}

.longDescription {
    margin-bottom: 2rem;
    

    span {

        font-family: 'Unica77', sans-serif;
        font-size: .875rem !important;


    }

    h3 {
        font-size: .875rem !important;
    }

    h2 {

        span {
            font-family: 'Unica77', sans-serif !important;
            font-weight: bold !important;
        }
    }

    ul {
        padding-inline-start: 0 !important;
        margin: 0;

        li {
            list-style-type: none !important;
            white-space: inherit !important;

            p {
                margin: 0 !important;
                line-height: 1 !important;
            }
        }
    }
}