.cartLine {
    display: flex;
    padding: 0.75rem 0;
    

    img {
        height: 100%;
        display: block;
        margin-right: 0.75rem;
        max-width: 35%;
    }
}

.content {
    margin-left: 2rem;
}
.title {
    font-size: 1.4rem;
    color: black;
    font-family: "Unica77", sans-serif;
}

.removeButton {
    display: block;
    background: none;
    border: none;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    color: var(--color-dark);
    font-size: .75rem;
    margin-top: .4em;
    cursor: pointer;
}