.wrapper {
    position: relative;
    cursor: pointer;

    .leftBracket,
    .rightBracket {
        position: absolute;
        // top: 0;
        transition: all .2s ease-in-out;
        pointer-events: none;
        opacity: 0;
    }


    .leftBracket {
        left: -.6rem;
        transform: translateX(-.5rem);



    }

    .rightBracket {
        right: -.6rem;
        transform: translateX(.5rem);



    }

    @media (hover: hover) {
        &:hover {
            .leftBracket {
                transform: translateX(0);
                opacity: 1;
            }

            .rightBracket {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }

    &.isActive {
        .leftBracket {
            transform: translateX(0);
            opacity: 1;
        }

        .rightBracket {
            transform: translateX(0);
            opacity: 1;
        }
    }



}